# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers={{ BROKER_ENDPOINT }}
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='{{ CLUSTER_API_KEY }}' password='{{ CLUSTER_API_SECRET }}';
sasl.mechanism=PLAIN

basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info={{ SR API KEY }}:{{ SR API SECRET }}
schema.registry.url={{ SR ENDPOINT }}
ksql.endpoint={{ KSQLDB ENDPOINT }}
ksql.basic.auth.user.info={{ KSQLDB API KEY }}:{{ KSQLDB API SECRET }}
